PORT=3001
JWT_SECRET=cambia_esto_por_una_clave_segura_en_produccion
JWT_EXPIRES_IN=8h
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# En producción:
# FRONTEND_URL=https://intranet.ctglobal.com.co
